.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tournament-title {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  margin: 40px 0px;
}

.tournament-wrapper {
  display: flex;
  align-items: flex-start;

}

.tournament-left-blank {
  width: 10%; 
}

.tournament-details {
  width: 10%; 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-left: 10px;
}

.tournament-details-list {
  list-style-type: none;
  padding: 0;
}

.tournament-details-list-element {
  font-size: 16px;
  margin-bottom: 10px;
}

.single-elimination-container {
  border-radius: 8px;
  border: solid 4px #838486;
}
